# Grafana Datasources Configuration
# This file automatically provisions datasources when Grafana starts
# Documentation: https://grafana.com/docs/grafana/latest/administration/provisioning/#datasources

apiVersion: 1

# List of datasources to insert/update
datasources:
  # Prometheus - For metrics visualization
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      httpMethod: POST
      exemplarTraceIdDestinations:
        - name: trace_id
          datasourceUid: jaeger
    version: 1

  # Jaeger - For distributed tracing
  - name: Jaeger
    type: jaeger
    access: proxy
    url: http://jaeger:16686
    uid: jaeger
    editable: true
    jsonData:
      tracesToLogsV2:
        # Link traces to logs (if log integration is set up)
        datasourceUid: 'prometheus'
        tags: ['job', 'instance', 'pod', 'namespace']
        mappedTags: [{ key: 'service.name', value: 'service' }]
        mapTagNamesEnabled: true
        spanStartTimeShift: '1h'
        spanEndTimeShift: '-1h'
        filterByTraceID: true
        filterBySpanID: false
    version: 1
